*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

header {
  width:70rem;
  margin: auto;
  margin-top: 2rem;
  text-align: center;
}

main{
  width: 70rem;
  border: 1px solid red;
  margin: auto;
  margin-top: 2rem;
}
.searchSection > *{
  display: inline-block
}
.cardsSection {
/*   border: 1px solid blue; */
}
.cardsUl{
/*   border: 1px solid red; */
  padding: 2rem;
  display: flex;
  gap: 2rem;
}
.liCard{
  border: 1px solid green;
  padding: 5px
}
.ulCardProp{
/*   border: 1px solid purple; */
  padding: 2px;
}
.liProp{
/*   border: 1px solid magenta */
}

.heartImg{
  width: 1rem;
  height: 1rem;
}

.heartImgOpac{
  opacity: 0.4
}